<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 14px 32px;">
            <table style="font-family: 'Roboto', sans-serif;" role="presentation">
                <tr>
                    <td valign="middle" height="36" width="100%">
                        <a href="index2.html" target="_blank" rel="nofollow noopener"
                            style="color: #333333;">
                            <img src="https://iili.io/qPQwumx.png" alt="Pomogatel logo" width="36" border="0" style="vertical-align: middle; display: inline-block; margin: 0;" />
                            <b style="vertical-align: middle; font-size: 20px; line-height: 1.6; font-weight: 500;"> {{ company_name }}</b>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>